html, body {
    margin:0;
    padding:0;
    background-color: #333 !important;
}

  .header {
    background-color: black !important;
    position: absolute;
    width: 100%;
    z-index: 3;
  }


  .header2 {
    background-color: rgb(103, 103, 194);
    background-color: transparent;
    position: absolute;
    width: 70%;
    margin-left: 17%;
    z-index: 3;
  }

  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: transparent;
  }

  .header li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
  }

  .header li a:hover,
  .header .menu-btn:hover {
    color: blue;
  }

  .header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
  }

  .header .menu {
    clear: both;
    background: transparent;
    max-height: 0;
    transition: max-height .2s ease-out;
  }

  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }

  .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }

  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }

  .header .menu-icon .navicon:before {
    top: 5px;
  }

  .header .menu-icon .navicon:after {
    top: -5px;
  }

  .header .menu-btn {
    display: none;
  }

  .header .menu-btn:checked~.menu {
    max-height: 240px;
  }

  .header .menu-btn:checked~.menu-icon .navicon {
    background: transparent;
  }

  .header .menu-btn:checked~.menu-icon .navicon:before {
    transform: rotate(-45deg);
  }

  .header .menu-btn:checked~.menu-icon .navicon:after {
    transform: rotate(45deg);
  }

  .header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
    top: 0;
  }

  @media (min-width: 48em) {
    .header li {
      float: left;
    }

    .header li a {
      padding: 20px 30px;
    }

    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }

    .header .menu-icon {
      display: none;
    }
  }
  
@media (max-width: 768px) {
 .flex-container {
  display: flex;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
}

.flex-left {
  width: 90% !important;
  height: 50vh !important;
  margin: 5px !important;
  padding: 5px !important;
}

.flex-right {
  width: 100% !important;
  height: 35vh !important;
  margin: 0px !important;
  padding: 5px !important;
  }
  .fr-inner {
      width: 95% !important;
      margin-top: -20px !important;
  }
 }
  
.flex-container {
  display: flex;
  flex-direction: row;
padding-top: 80px;
}

.flex-left {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 90vh;
  margin: 5px;
  padding: 5px;
  border: 2px solid red;
}

.flex-right {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  padding: 5px;
}

.fl-inner1 {
    display: flex;
    width: 85%;
    align-items: center;
    justify-content: center;
    height: 45%;
    background-color: whitesmoke;
}
.fl-inner2 {
    display: flex;
    width: 85%;
    align-items: center;
    justify-content: center;
    height: 45%;
    background-color: whitesmoke;
}

.fr-inner {
    display: flex;
    width: 85%;
    align-items: center;
    justify-content: center;
    height: 89%;
    background-color: rgb(74, 74, 85);
    margin-top: 22px;
    color: wheat;
    font-weight: bolder;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}










.grid {

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
    position: relative;
    margin: 0 auto;
    padding: 1em 0 4em;
    list-style: none;
    text-align: center;
}

/* Common style */
.grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 15px 1%;
    min-width: 320px;
    /* max-width: 480px; */
    width: 92%;
    background: #3085a3;
    text-align: center;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.grid figure img {
    position: relative;
    display: block;
    min-height: 100%;
    width: 100%;
    background-position: center;
    opacity: 0.8;
    background-size: cover;
}

.grid figure figcaption {
    position: absolute;
    top: -90px;
    left: 0;
    /* display: flex; */
    width: 100%;
    height: 100%;
    justify-content: center;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    top: -74px;
    color: wheat;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

/*---------------*/
/***** Ruby *****/
/*---------------*/

figure.effect-ruby {
	background-color: #17819c;
}

figure.effect-ruby img {
	opacity: 0.7;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(1.15);
	transform: scale(1.15);
}

figure.effect-ruby:hover img {
	opacity: 0.5;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-ruby h2 {
	margin-top: 20%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}

figure.effect-ruby p {
	margin: 1em 0 0;
	padding: 3em;
	border: 1px solid #fff;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,20px,0) scale(1.1);
	transform: translate3d(0,20px,0) scale(1.1);
} 

figure.effect-ruby:hover h2 {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-ruby:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0) scale(1);
	transform: translate3d(0,0,0) scale(1);
}